@import "fonts";
@import "include";

.navbar-brand {
  padding: 10px 15px;

  img {
    height: 30px;
  }
}

#home-page-heading
{
  span {
    margin: 0 15px;

    @media(max-width: 380px)
    {
      margin: 0 3px;
      font-size: 11px;
    }
  }

  #select-category {
    margin-left: 15px;
    display: inline-block;

    @media(max-width: 380px)
    {
      margin: 0 7px;
    }
  }


  @media(max-width: 360px)
  {
    padding-right: 2px;
  }
}

#mobile-menu-button {
  display: none;
  margin: 14px 15px 0 0;
  float: right;
  cursor: pointer;

  > div {
    width: 35px;
    height: 3px;
    background: #57cbf1;
  }

  .mid {
    margin: 7px 0;
  }

  @media(max-width: 767px)
  {
    display: block;
  }
}

.vote-up,
.vote-down {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 21px;
    color: #bababa;
  }

  &.active-vote span {
    color: #ff7703;
  }
}

.links-table {
  td:first-child {
    padding: 8px;
    width: 30px;
  }

  tr:first-child td {
    border-top: none;
  }

  .link-votes {
    font-size: 25px;
    line-height: 43px;
  }
}

.link-view-title {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 2px;
}

#pagination {
  text-align: center;
}

.pagination {
  margin: 0;
}

footer {
  #copyright {
    text-align: center;
  }
}

.no-padding-top {
  tr:first-child td {
    border-top: none;
  }
}

@media (max-width: 480px)
{
  .display-links-panel {
    padding: 0;

    table {
      border: none;
    }
  }

  .pagination {
    margin: 0 0 5px 10px;
  }
}